<div class="search-component">
    <div class="header">
        <form class="search">
            <div class="logo">
                <img src="../../favicon.ico" alt="logo" class="logo-img">
            </div>
            <input mat-input class="search-input" type="text" #searchTerm>
            <button class="search-button" (click)="startSearch(searchTerm.value)">Search</button>
        </form>
        <div class="options-bar">
            <mat-select class="option" placeholder="Sortieren nach" (valueChange)="updateSortingField($event)">
                <mat-option *ngFor="let enum of sortingField | keyvalue"
                    value="{{enum.value}}">{{enum.value}}</mat-option>
            </mat-select>
            <mat-select class="option" placeholder="Reihenfolge" (valueChange)="updateWithSortingOrder($event)">
                <mat-option *ngFor="let enum of sortingOrder | keyvalue"
                    value="{{enum.value}}">{{enum.value}}</mat-option>
            </mat-select>
            <mat-select class="option" placeholder="Quellen" multiple (valueChange)="updateSources($event)">
                <mat-option *ngFor="let name of searcher.getSources()" value="{{name}}">{{name}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="results">
        <mat-card *ngFor="let result of resultsList">
            <mat-card-header>
                <mat-card-title><a href="{{result.link}}" target="_blank">{{result.title}}</a></mat-card-title>
                <mat-card-subtitle>{{result.authors}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="result.description.length > 0">{{result.description}}</p>
                <p>{{result.source}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <ngx-spinner bdColor = "rgba(224,224,224,0.65)" size = "medium" color = "rgba(100,148,237,0.79)" type = "square-jelly-box" [fullScreen] = "false"><p style="color: white" ></p></ngx-spinner>
</div>