.search-component {
    min-width: 400px;
    max-width: 50rem;
    min-height: 100%;
    margin: auto;
    position: relative;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1000000000000;
}

.search {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.logo {
    height: 2rem;
    width: 2rem;
    overflow: hidden;
}

.logo-img {
    height: inherit;
    width: inherit;
}

.search-input {
    height: 1.5rem;
    flex: auto;
    margin-top: auto;
    margin-bottom: auto;
    ;
}

.search-button {
    height: 2rem;
    flex-basis: 20%;
    border: none;
    outline: none;
    cursor: pointer;
    background: cornflowerblue;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2px;
}

.search-button:hover {
    background-color: rgba(100, 148, 237, 0.788);
}

.options-bar {
    display: flex;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid gray;
}

.option {
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
    min-width: 8rem;
    max-width: 20rem;
}

.reslts {
    width: 100%
}